body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.reset{
    margin: 0;
    padding:0;
}

.navbar{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    margin: 0 50px;
}

.menu{
    justify-content: flex-end;
}

.quem-somos{
    background-color: #fff;
}
.margin{
    padding-top: 30px;
    padding-bottom: 30px;
}

section img{
    margin: 30px 0px;
}

.parceiros{
    background-color: rgb(227, 103, 252);
}

.parceiros img{
    width: 100%;
}

.rodape{
    background-color: #404040;
    color: white;
}